@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');


.title {
    background-color: orangered;
    text-align: left;
    color: #FFF;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

img.title2 {
    text-align: left;
    widht: 0.1;    
}

.body-background{
    background-color: #D3D3D3;
    margin: 0 2em;
    padding: 1.5em;

}

.body-background-solution{
    background-color: 	#FFB95E;
    margin: 0 2em;
    padding: 1.5em;

}

.body-background-solution div{
    margin: 0 2em;
    padding: 1.5em;

}

.body-background2{
    background-color: #D3D3D3;
    border-radius: 0 0 15px 15px;
    margin: 0 2em;
    padding: 1.5em;
    
}

.body-background-solution2{
    background-color: 	#FFB95E;
    margin: 0 2em;
    border-radius: 0 0 15px 15px;
    padding: 1.5em;

}

.paragrafo{
    padding: 2em;
    text-align: center;
    background-color: white;
    box-shadow: 10px 10px;
    border: 1px #838383;

}

.sombra-grafico{
    background-color: black;
    /* box-shadow: 10px 10px;
    border: 1px #000; */
}

